<div class="col-6 col-sm-6 col-md-4 col-lg-3 mb-4">
  <div class="card h-100">
    <img
      src="<%= partner.images[0].resize %>"
      class="card-img-top"
      alt="近影"
      data-bs-toggle="modal"
      data-bs-target="#<%= partner.modal %>"
    />
    <div class="card-body">
      <h5 class="card-title">
        <a href="#"
          target="_blank"
          rel="noopener noreferrer"
          onclick="handleClickLike('<%= partner.hash %>', '<%= partner.link %>'); return false;">
          <%= partner.headerName %>
        </a>
      </h5>
      <row>
        <div class="card-text col-12">身長：<%= partner.tall %>cm</div>
        <div class="card-text col-12">体型：<%= partner.figure %></div>
        <div class="card-text col-12"><a href="<%= `/partners/edit/${partner.hash}` %>">編集</a></div>
      </row>
    </div>
    <div class="card-footer text-center">
      <small class="text-muted"><%= partner.status %></small>
    </div>
  </div>
  <!-- modal -->
  <%- include('./modal', { partner: partner }) %>
</div>