<div class="col-6 col-sm-6 col-md-4 col-lg-3 mb-4">
  <div class="card h-100">
    <img
      src="<%= partner.images[0].resize %>"
      class="card-img-top"
      alt="近影"
      data-bs-toggle="modal"
      data-bs-target="#<%= partner.modal %>"
    />
    <div class="card-body">
      <h5 class="card-title">
        <a href="#"
          target="_blank"
          rel="noopener noreferrer"
          onclick="handleClickLike('<%= partner.hash %>', '<%= partner.link %>'); return false;">
          <%= partner.headerName %>
        </a>
      </h5>
      <row>
        <div class="card-text col-12">身長：<%= partner.tall %>cm</div>
        <div class="card-text col-12">体型：<%= partner.figure %></div>
        <div class="card-text col-12">最終勤務：<%= partner.updatedAt.toLocaleString('ja-JP', { year: 'numeric', month: '2-digit', day: '2-digit', hour: '2-digit', minute: '2-digit' }) %></div>
        <div class="card-text col-12"><a href="<%= `/partners/edit/${partner.hash}` %>">編集</a></div>
      </row>
    </div>
    <%
      // connect status
      let connectStatus = '不明'
      let badgeColor = 'bg-secondary';

      if (partner.connect) {
        connectStatus = '契約済み';
        badgeColor = 'bg-success';
      } else if (partner.negotiate) {
        connectStatus = '契約準備';
        badgeColor = 'bg-warning';
      } else {
        connectStatus = '待機中';
        badgeColor = 'bg-primary';
      }

      // quit status
      let quitStatus = ''
      if (partner.private) {
        quitStatus = '長期休暇';
      } else if (partner.quit) {
        quitStatus = '予約不可';
      }
    %>
    <div class="card-footer text-center">
      <h5>
        👑<%= partner.like %>
        <span class="badge <%= badgeColor %>"><%= connectStatus %></span>
        <% if (partner.quit != '0') { %>
        <span class="badge bg-danger"><%= quitStatus %></span>
        <% } %>
      </h5>
    </div>
  </div>
  <!-- modal -->
  <%- include('./modal', { partner: partner }) %>
</div>